.project {

    &:hover {
        .icon{
            transition: 0.1s linear;
            transform: translate(5px, -5px);
        }
    }

    img {
        border-radius: 8px;
        border: 2px solid #183756;
        width: 300px;
        height: 100%;
        object-fit: cover;
        transition: 0.3s linear;
    }
}

