/* RIGHTSIDE */
.about a {
        color: aliceblue;
        font-weight: 600;
        transition: 0.1s linear;
        &:hover {
            color: #54D3D4;
        }
}

/* ABOUT */

.about {
    margin-bottom: 100px;

    p {
        margin-bottom: 20px;
    }
}

/* EXPERIENCES */

.experiences , .projects {

    .link {
        color: aliceblue;
        font-weight: 600;
        transition: 0.1s linear;
        &:hover {
            color: #54D3D4;
        }
    }
}


.card {
    cursor: pointer;
    transition: 0.3s linear;
    border: 1px solid #183756;
    border-radius: 15px;
    &:hover {
        border: 1px solid aliceblue;
        transform: scale(1.01);

        .title {
            color: #53CED0;
        }

        img {
            border: 1px solid aliceblue;
        }
    }

    .title {
        transition: 0.3s linear;
    }
}


.view-more {
    display: inline-block;
    
    .text {
        border-bottom: 1px solid #183756;
        transition: 0.3s linear;
    }
    
    &:hover {
        .text {
            border-bottom: 1px solid #53CED0;
        }
        
        .icon{
            transition: 0.1s linear;
            transform: translate(5px, 0px);
        }
    }
}