@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 2px;
  scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
  * {
    text-align: center;
  }
}

body {
  background: radial-gradient(
      circle at var(--gradient-position-x) var(--gradient-position-y),
      rgba(23, 60, 146, 0.633),
      transparent 20%
    ),
    var(--background-color);
  transition: background 0.1s ease-out;
}



:root {
  color: aliceblue;
  --background-color: #0f172a;
  --gradient-position-x: 0px;
  --gradient-position-y: 0px;
  font-family: "Poppins", sans-serif;
}

/* PALETTE */
.color-dark_blue {
  color: #0f172a;
}

.color-white {
  color: aliceblue;
}

.color-gray {
  color: #9ca3af;
}

.color-water {
  color: #52ced0;
}

/* SCROLLBAR */

body {
  --sb-track-color: #0f172a;
  --sb-thumb-color: #52ced0;
  --sb-size: 7px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
