@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 2px;
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(circle at var(--gradient-position-x) var(--gradient-position-y), rgba(17, 32, 68, 0.633), transparent 20%), var(--background-color);
  transition: background 0.1s ease-out;
  
}

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --background-color: #0F172A;
  --gradient-position-x: 0px;
  --gradient-position-y: 0px;
}

.color-white {
  color: aliceblue;
}

.color-gray {
  color: #9ca3af;
}

.color-water{
  color: #52CED0;
}
